{% extends "base.html" %}

{% block content %}
  <h1>{{ car.model }}</h1>

  <div class="mb-3">
    <a href="{% url 'taxi:car-update' car.pk %}" class="btn btn-primary btn-sm">
      Update car
    </a>
    <a href="{% url 'taxi:car-delete' car.pk %}" class="btn btn-danger btn-sm">
      Delete car
    </a>
  </div>

  <p>
    Manufacturer:
    ({{ car.manufacturer.name }}, {{ car.manufacturer.country }})
  </p>

  <h4>Drivers</h4>
  <hr>

  <ul>
    {% for driver in car.drivers.all %}
      <li>
        <a href="{% url 'taxi:driver-detail' driver.pk %}">
          {{ driver.username }}
        </a>
        ({{ driver.first_name }} {{ driver.last_name }})
      </li>
    {% empty %}
      <li>No drivers assigned</li>
    {% endfor %}
  </ul>
{% endblock %}
