{% extends "base.html" %}

{% block content %}
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h1>Manufacturer List</h1>

    <a href="{% url 'taxi:manufacturer-create' %}" class="btn btn-success">
      Create Manufacturer
    </a>
  </div>

  {% if manufacturer_list %}
    <table class="table table-striped">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Country</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>

      {% for manufacturer in manufacturer_list %}
        <tr>
          <td>{{ manufacturer.id }}</td>
          <td>{{ manufacturer.name }}</td>
          <td>{{ manufacturer.country }}</td>
          <td>
            <a href="{% url 'taxi:manufacturer-edit' manufacturer.pk %}"
               class="btn btn-sm btn-outline-primary">
              Update
            </a>
          </td>
          <td>
            <a href="{% url 'taxi:manufacturer-delete' manufacturer.pk %}"
               class="btn btn-sm btn-outline-danger">
              Delete
            </a>
          </td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>There are no manufacturers in the service.</p>
  {% endif %}
{% endblock %}
